<div class="page-header parallax" style="background-image:url('assets/img/brunch.jpg'); background-color:#30d3d3; height:px;">
    <div class="container">
        <h1 class="page-title">Welcome to Nick & Judy's Farm Stand</h1>
    </div>
</div>

<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row" id="listing-with-filter">
                <!-- Search Filters -->
                <div class="col-md-3 search-filters" id="Search-Filters">
                    <!--<div class="filters-sidebar">-->
                        <!--<h3>Refine Search</h3>-->
                        <!--<div class="accordion" id="toggleArea">-->
                            <!--&lt;!&ndash; Filter by Make &ndash;&gt;-->
                            <!--<div class="accordion-group panel">-->
                                <!--<div class="accordion-heading togglize"> <a class="accordion-toggle inactive collapsed" data-toggle="collapse" data-parent="#" href="#collapseTwo-1" aria-expanded="false">Category<i class="fa fa-angle-down"></i> </a> </div>-->
                                <!--<div id="collapseTwo-1" class="accordion-body collapse" aria-expanded="false" style="height: 0px;">-->
                                    <!--<div class="accordion-inner">-->
                                        <!--<ul data-ids="fieldfltr-3451" id="construction-year" class="filter-options-list list-group search-fields">-->
                                            <!--<li class="list-group-item"><i class="fa fa-caret-right"></i> <span class="badge"></span><a class="" href="#">XXX</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; Filter by Make &ndash;&gt;-->
                            <!--<div class="accordion-group panel">-->
                                <!--<div class="accordion-heading togglize"> <a class="accordion-toggle inactive collapsed" data-toggle="collapse" data-parent="#" href="#collapseTwo-3" aria-expanded="false">Price<i class="fa fa-angle-down"></i> </a> </div>-->
                                <!--<div id="collapseTwo-3" class="accordion-body collapse" aria-expanded="false" style="height: 0px;">-->
                                    <!--<div class="accordion-inner">-->
                                        <!--<ul data-ids="fieldfltr-3449" id="range_price" class="filter-options-list list-group search-fields">-->
                                            <!--<li><i class="fa fa-caret-right"></i> <b>$ <span class="left">0</span> --->
                                                <!--<span class="right">10000</span></b> <div class="slider slider-horizontal" style="width: 0px;"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 10%;"></div><div class="slider-handle round" style="left: 0%;"></div><div class="slider-handle round" style="left: 10%;"></div></div><div class="tooltip top hide" style="top: -14px; left: 0px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0 : 10000</div></div><input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100000" data-slider-step="100" data-slider-value="[0,10000]" data-imic-start="" data-imic-end=""></div>-->
                                                <!--<br>-->
                                                <!--&lt;!&ndash;<span class="left">0</span> --->
                                                <!--<span class="right">10000</span>&ndash;&gt;-->
                                                <!--<a data-range="0-10000" class="range-val btn-primary btn-sm btn">Filter</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--&lt;!&ndash; End Toggle &ndash;&gt;-->
                        <!--<a href="#" id="reset-filters-search" class="btn-default btn-sm btn"><i class="fa fa-refresh"></i> Reset search</a>-->

                    <!--</div>-->
                </div>

                <!-- Listing Results -->
                <div class="col-md-9 results-container">
                    <div class="results-container-in">
                        <div id="results-holder" class="results-grid-view">

                            <!-- FORM -->
                            <section class="form-content">
                                <div class="tab-pane fade active in">
                                    <h3>Add new item</h3>
                                    <div class="lighter"><p>Don't forget to set the price!</p></div>
                                    <div class="spacer-10"></div>

                                    <div class="tab-content">
                                        <form action="/add-new" method="POST" role="form">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Item</label>
                                                    <input type="text" class="form-control" id="item" name="item" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Category</label>
                                                    <div>
                                                        <select class="selectpicker form-control" id="category" name="category" data-width="100%">
                                                            <option>Fruits</option>
                                                            <option>Roots</option>
                                                            <option>Pies</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Price</label>
                                                    <input type="text" class="form-control" id="price" name="price" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Quantity</label>
                                                    <input type="text" class="form-control" id="quantity" name="quantity" placeholder="">
                                                </div>
                                            </div>

                                            <div class="spacer-10"></div>

                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-block btn-info btn-lg disabled" id="add-btn">
                                                    Clear Form
                                                </button>
                                            </div>

                                            <div class="col-md-6 text-right">
                                                <button type="submit" class="btn btn-block btn-info btn-lg" id="add-btn">
                                                    Add Item
                                                </button>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </section>

                            <h3>Farm Inventory</h3>

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Item</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data}}
                                    <tr>
                                        <th scope="row">{{this.id}}</th>
                                        <td>{{this.item}}</td>
                                        <td>{{this.category}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.quantity}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>